Repository Marak/faker.js, pull requests merged in 2020-08, with the labels that each got.

#553 Implement length argument in lorem.word
  lib/lorem.js
  test/lorem.unit.js
Labels: Will Merge - Needs Works

#578 Update Czech last names
  lib/locales/cz/name/female_last_name.js
  lib/locales/cz/name/male_last_name.js
Labels: Locales

#713 locale ru: add name.middleName with russian gender for russian passport (отчество)
  lib/name.js
  test/name.unit.js
Labels: Needs Translator Confirmation, Will Merge - Needs Works

#986 Translate 'en' locale data to 'fa'
  lib/locales/fa/address/city_name.js
  lib/locales/fa/address/city_prefix.js
  lib/locales/fa/address/city_suffix.js
  lib/locales/fa/address/country.js
  lib/locales/fa/address/country_code.js
  lib/locales/fa/address/direction.js
  lib/locales/fa/address/index.js
  lib/locales/fa/address/state.js
  lib/locales/fa/address/street_suffix.js
  lib/locales/fa/cell_phone/formats.js
  lib/locales/fa/cell_phone/index.js
  lib/locales/fa/commerce/color.js
  lib/locales/fa/commerce/department.js
  lib/locales/fa/commerce/index.js
  lib/locales/fa/commerce/product_name.js
  lib/locales/fa/company/adjective.js
  lib/locales/fa/company/bs_adjective.js
  lib/locales/fa/company/bs_noun.js
  lib/locales/fa/company/bs_verb.js
  lib/locales/fa/company/descriptor.js
  lib/locales/fa/company/index.js
  lib/locales/fa/company/name.js
  lib/locales/fa/company/noun.js
  lib/locales/fa/company/suffix.js
  lib/locales/fa/date/index.js
  lib/locales/fa/date/month.js
  lib/locales/fa/date/weekday.js
  lib/locales/fa/finance/account_type.js
  lib/locales/fa/finance/credit_card/index.js
  lib/locales/fa/finance/credit_card/mastercard.js
  lib/locales/fa/finance/credit_card/visa.js
  lib/locales/fa/finance/currency.js
  lib/locales/fa/finance/index.js
  lib/locales/fa/finance/transaction_type.js
  lib/locales/fa/index.js
  lib/locales/fa/internet/domain_suffix.js
  lib/locales/fa/internet/example_email.js
  lib/locales/fa/internet/free_email.js
  lib/locales/fa/internet/index.js
  lib/locales/fa/lorem/index.js
  lib/locales/fa/lorem/words.js
  lib/locales/fa/name/female_first_name.js
  lib/locales/fa/name/first_name.js
  lib/locales/fa/name/index.js
  lib/locales/fa/name/male_first_name.js
  lib/locales/fa/name/name.js
  lib/locales/fa/name/title.js
  lib/locales/fa/phone_number/formats.js
  lib/locales/fa/phone_number/index.js
  lib/locales/fa/vehicle/fuel.js
  lib/locales/fa/vehicle/index.js
  lib/locales/fa/vehicle/manufacturer.js
  lib/locales/fa/vehicle/model.js
  lib/locales/fa/vehicle/vehicle_type.js
Labels: Locales, Needs Translator Confirmation
