Repository Marak/faker.js, pull requests merged in 2021-02, with the labels that each got.

#976 nep -> ne
  Readme.md
  lib/locales.js
  lib/locales/ne/address/city.js
  lib/locales/ne/address/default_country.js
  lib/locales/ne/address/index.js
  lib/locales/ne/address/postcode.js
  lib/locales/ne/address/state.js
  lib/locales/ne/company/index.js
  lib/locales/ne/company/suffix.js
  lib/locales/ne/index.js
  lib/locales/ne/internet/domain_suffix.js
  lib/locales/ne/internet/free_email.js
  lib/locales/ne/internet/index.js
  lib/locales/ne/name/first_name.js
  lib/locales/ne/name/index.js
  lib/locales/ne/name/last_name.js
  lib/locales/ne/phone_number/formats.js
  lib/locales/ne/phone_number/index.js
  lib/locales/nep/address/city.js
  lib/locales/nep/address/state.js
  lib/locales/nep/company/suffix.js
  lib/locales/nep/index.js
  lib/locales/nep/internet/domain_suffix.js
  lib/locales/nep/internet/free_email.js
  lib/locales/nep/name/first_name.js
  lib/locales/nep/name/last_name.js
  lib/locales/nep/phone_number/formats.js
Labels: Locales

#933 Add Arabic Date
  lib/locales/ar/address/state.js
  lib/locales/ar/date/index.js
  lib/locales/ar/date/month.js
  lib/locales/ar/date/weekday.js
  lib/locales/ar/index.js
Labels: Locales, Needs Translator Confirmation

#775 Get x dates between two dates
  lib/date.js
  test/date.unit.js
Labels: Will Merge - Needs Works

#777 Add 'fr' and 'ja' locale country names and adjust 'pt_BR' city suffixes
  lib/locales/fr/address/country.js
  lib/locales/fr/address/index.js
  lib/locales/ja/address/country.js
  lib/locales/ja/address/index.js
  lib/locales/pt_BR/address/city_suffix.js
Labels: Locales, Will Merge - Needs Works
